.HomePageContainer {
    width: 60%;
    margin: 10% auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .HomePageContainer {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        row-gap: 80px;
    }
}