.RulesContainer {
    width: 30%;
}

.Header {
    font-size: 50px;
    padding: 10px;
}

.Rules {
    margin-top: 40px;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .RulesContainer {
        width: 90%;
    }

    .Header {
        font-size: 40px;
    }

    .Rules {
        font-size: 18px;
    }
}